<h2>Provider List</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var provider in Model)
        {
            <tr>
                <td>@provider.Name</td>
                <td>@provider.Specialty</td>
                <td>@provider.Location</td>
            </tr>
        }
    </tbody>
</table>